.cards-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.access-card {
  width: 500px;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2) !important;
  display: flex;
  flex-direction: column;
}

.card-icon {
  font-size: 64px !important;
  width: 64px !important;
  height: 64px !important;
  margin-bottom: 20px;
  color: #7070aa;
}

.full-width, .btn-corporate {
  margin-top: 35px; 
  width: 100%;
  padding: 12px !important;
  font-weight: bold;
}

:host-context(.dark-theme) .access-card {
  background-color: #242433 !important;
  color: white;
}

:host-context(.dark-theme) .access-card h2 { color: #ffffff !important; }
:host-context(.dark-theme) .access-card p { color: #b0b0b0 !important; }
:host-context(.dark-theme) .card-icon { color: #FF4081 !important; }