<div class="cards-container">
  <mat-card class="access-card">
    <mat-card-content class="card-layout">
      <div class="content-top">
        <mat-icon class="card-icon">person_search</mat-icon>
        <h2>Sou Cliente</h2>
        <p>Acompanhe seu carro seus pedidos.</p>
      </div>
      <button mat-flat-button color="primary" class="full-width" routerLink="/login/cliente">Entrar</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="access-card"> 
    <mat-card-content class="card-layout">
      <div class="content-top">
        <mat-icon class="card-icon">badge</mat-icon>
        <h2>Área Interna (Funcionário)</h2>
        <p>Acesso ao sistema de produção e RH.</p>
      </div>
      <button mat-flat-button color="primary" class="btn-corporate full-width" routerLink="/login/funcionario">Acesso Corporativo</button>
    </mat-card-content>
  </mat-card>
</div>