.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 155vh; 
  background: linear-gradient(135deg, #00c6ff 0%, #0072ff 100%) !important;
  transition: background 0.3s ease;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #2b2157 !important;
}



.accessibility-tools {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.accessibility-tools mat-icon {

color: #dcdde0 !important;

}

.font-indicator {
  background: #FF4081; 
  color: white;
  padding: 4px 10px;
  border-radius: 20px; 
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  top: 95px; 
  left: 30%;
  transform: translateX(-50%);
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: popFast 0.2s ease-out;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  color: #ffffff;
}

.home-wrapper.dark-theme {
  background: linear-gradient(135deg, #121212 0%, #1e1e2e 100%) !important;
}

.home-wrapper.dark-theme .top-bar {
  background: #2f2e2e !important;
  border-bottom: 1px solid #333;
}