.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 155vh;
  background: linear-gradient(135deg, #00c6ff 0%, #0072ff 100%) !important;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #2b2157 !important;
}

.accessibility-tools mat-icon {
  color: #dcdde0 !important;
}

.accessibility-tools {
  display: flex;
  gap: 2.5px;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cards-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.access-card {
  width: 320px;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2) !important;
  display: flex;
  flex-direction: column;
}

.card-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
}

.content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  font-size: 64px !important;
  width: 64px !important;
  height: 64px !important;
  margin-bottom: 20px;
  color: #7070aa;
}

.access-card h2 {
  margin-bottom: 10px;
  font-weight: bold;
  color: #5c5757;
}

.access-card p {
  color: #2d2c2c;
  margin-bottom: 30px;
}

.full-width {
  width: 100%;
  padding: 20px !important;
  font-weight: bold;
  margin-top: auto;
}

.footer {
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  color: #ffffff;
}

.logo-container svg {
  height: 75px;
  width: auto;
}

.accessibility-tools {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.font-indicator {
  background: #FF4081; 
  color: white;
  padding: 4px 10px;
  border-radius: 20px; 
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  top: 100px; 
  left: 30%;
  transform: translateX(-50%);
  z-index: 100;
  pointer-events: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: popFast 0.2s ease-out;
}

@keyframes popFast {
  0% { opacity: 0; transform: translate(-50%, -5px) scale(0.9); }
  100% { opacity: 1; transform: translate(-50%, 0) scale(1); }
}

.home-wrapper.dark-theme {
  background: linear-gradient(135deg, #121212 0%, #1e1e2e 100%) !important;
}

.home-wrapper.dark-theme .top-bar {
  background: #2f2e2e !important;
  border-bottom: 1px solid #333;
}

.home-wrapper.dark-theme .access-card {
  background-color: #242433 !important;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5) !important;
}

.home-wrapper.dark-theme .access-card h2 {
  color: #ffffff !important;
}

.home-wrapper.dark-theme .access-card p {
  color: #b0b0b0 !important;
}

.home-wrapper.dark-theme .card-icon {
  color: #FF4081 !important; 
}

.home-wrapper.dark-theme .footer {
  color: #888;
}